<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    byName checks if the reference name in the referring class has a matching id in the xml config-->
<!--    byType looks if there is a class that is matching for the referring reference type-->
    <bean id="dev" class="org.ruchira.Dev" autowire="byName">
<!--        Every bean tag within the beans parent tag with an unique id will get an object of it created by spring -->
<!--        If there are duplicate id an exception will be thrown-->
<!--        <property name="age" value="21"/>-->
<!--        values set by a setter will override this value-->
<!--        <constructor-arg value="22"/>-->
<!--        for constructor-arg with only one parameter a name or index elements are not required -->
<!--        name will allow the setting of the relevant parameter and the index will allow the setting of values index-wise-->
<!--        <property name="comp" ref="laptop"/>-->
<!--        ref refers to reference since comp is not a primitive data type-->
<!--        <property name="comp" ref="desktop"/>-->
<!--        <property name="comp" ref="comp"/>-->
<!--        the name refers to the reference in the beans class (Dev in this case) and rhe ref refers to the bean id name in the xml file therefore of name and ref are the same name no errors will be thrown-->
<!--        for these cases auto wiring can be implemented at the bean tag-->
    </bean>

<!--    if there is a conce of collision between this bean and other beans the property will be given to the bean that has primary set to true-->
    <bean id="comp" class="org.ruchira.Laptop" primary="true">
    </bean>

<!--    <bean id="laptop" class="org.ruchira.Laptop">-->
<!--    </bean>-->

    <bean id="desktop" class="org.ruchira.Desktop">
    </bean>

</beans>